01 Dataset Preparation: The dataset should have mix of different kind of data and at least one numerical and one categorical data

In [22]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import euclidean, cityblock, minkowski, chebyshev

auction = pd.read_csv("C:/Users/Arjun/JN/ipl auction stats__static.csv")
auction.head()

,Unnamed: 0,SR. NO.,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,0,NaN,Chennai Super King,29500000,8,25
1,1,NaN,Delhi Capitals,1000000,7,24
2,2,NaN,Gujrat Titans,1500000,8,23
3,3,NaN,Kolkata Knight Riders,4500000,8,25
4,4,NaN,Lucknow Super Gaints,0,7,21

02 Compute summary statistics such as mean, median, mode

In [24]:
#What is the average  of 'TOTAL PLAYER' in the Ipl auction in 2022?
auction[["FUNDS REMAINING","TOTAL PLAYERS"]].mean()

FUNDS REMAINING    6200000.0
TOTAL PLAYERS           23.7
dtype: float64

In [25]:
#What is the median of  "TOTAL PLAYERS" in the Ipl auction in 2022?
auction[["FUNDS REMAINING","TOTAL PLAYERS"]].median()

FUNDS REMAINING    2500000.0
TOTAL PLAYERS           24.0
dtype: float64

In [26]:
auction[["FUNDS REMAINING","TOTAL PLAYERS"]].describe()

       FUNDS REMAINING  TOTAL PLAYERS
count     1.000000e+01      10.000000
mean      6.200000e+06      23.700000
std       8.912569e+06       1.418136
min       0.000000e+00      21.000000
25%       1.125000e+06      23.000000
50%       2.500000e+06      24.000000
75%       8.250000e+06      25.000000
max       2.950000e+07      25.000000

In [27]:
auction.agg(
    {
        "FUNDS REMAINING": ["min", "max", "median", "skew"],
        "TOTAL PLAYERS": ["min", "max", "median", "skew"],
    }
)

        FUNDS REMAINING  TOTAL PLAYERS
min        0.000000e+00      21.000000
max        2.950000e+07      25.000000
median     2.500000e+06      24.000000
skew       2.352323e+00      -0.800599

In [28]:
#What is the average of "TEAM","TOTAL PLAYERS"?

auction[["TEAM","TOTAL PLAYERS"]].groupby("TEAM").mean()

                            TOTAL PLAYERS
TEAM
Chennai Super King                   25.0
Delhi Capitals                       24.0
Gujrat Titans                        23.0
Kolkata Knight Riders                25.0
Lucknow Super Gaints                 21.0
Mumbai Indians                       25.0
Punjab Kings                         25.0
Rajasthan Royals                     24.0
Royal Challengers Bangloro           22.0
Sunrisers Hydrabad                   23.0

In [29]:
auction.groupby("TEAM")["TOTAL PLAYERS"].mean()

TEAM
Chennai Super King            25.0
Delhi Capitals                24.0
Gujrat Titans                 23.0
Kolkata Knight Riders         25.0
Lucknow Super Gaints          21.0
Mumbai Indians                25.0
Punjab Kings                  25.0
Rajasthan Royals              24.0
Royal Challengers Bangloro    22.0
Sunrisers Hydrabad            23.0
Name: TOTAL PLAYERS, dtype: float64

In [30]:
auction.groupby(["TEAM", "FUNDS REMAINING"])["TOTAL PLAYERS"].mean()

TEAM                        FUNDS REMAINING
Chennai Super King          29500000           25.0
Delhi Capitals              1000000            24.0
Gujrat Titans               1500000            23.0
Kolkata Knight Riders       4500000            25.0
Lucknow Super Gaints        0                  21.0
Mumbai Indians              1000000            25.0
Punjab Kings                3450000            25.0
Rajasthan Royals            9500000            24.0
Royal Challengers Bangloro  1550000            22.0
Sunrisers Hydrabad          10000000           23.0
Name: TOTAL PLAYERS, dtype: float64

In [31]:
auction["FUNDS REMAINING"].value_counts()

FUNDS REMAINING
1000000     2
29500000    1
1500000     1
4500000     1
0           1
3450000     1
9500000     1
1550000     1
10000000    1
Name: count, dtype: int64

In [32]:
auction.groupby("FUNDS REMAINING")["TEAM"].count()

FUNDS REMAINING
0           1
1000000     2
1500000     1
1550000     1
3450000     1
4500000     1
9500000     1
10000000    1
29500000    1
Name: TEAM, dtype: int64

In [33]:
auction.groupby("FUNDS REMAINING")["FUNDS REMAINING"].size()

FUNDS REMAINING
0           1
1000000     2
1500000     1
1550000     1
3450000     1
4500000     1
9500000     1
10000000    1
29500000    1
Name: FUNDS REMAINING, dtype: int64

In [34]:
# Ensure 'FUNDS REMAINING' is converted to float
auction['FUNDS REMAINING'] = auction['FUNDS REMAINING'].astype(float)

# Replace a value with NaN
auction.loc[1, 'SR. NO'] = np.nan

In [35]:
# Total size (including NaN)
print("Size:", auction['SR. NO'].size)

# Non-NaN count
print("Count:", auction['SR. NO'].count())

Size: 10
Count: 0

03 Compute dispersion of the data such minimum, maximum, range, count, variance, standard deviation, IQR

In [37]:
#Dispersion calculations for 'FUND REMAINING'
min_price = auction['FUNDS REMAINING'].min()
max_price = auction['FUNDS REMAINING'].max()
range_price = max_price - min_price
variance_price = auction['TOTAL PLAYERS'].var()
std_dev_price = auction['TOTAL PLAYERS'].std()
iqr_price = auction['TOTAL PLAYERS'].quantile(0.75) - auction['TOTAL PLAYERS'].quantile(0.2)
print("\nMin price: ", min_price)
print("\nMax price: ", max_price)
print("\nRange price: ", range_price)
print("\nVariance price: ", variance_price)
print("\nStandard deviation price: ", std_dev_price)
print("\nIQR price: ", iqr_price)

Min price:  0.0

Max price:  29500000.0

Range price:  29500000.0

Variance price:  2.011111111111111

Standard deviation price:  1.4181364924121764

IQR price:  2.1999999999999993

04 A logistics company wants to analyze the distances between its delivery hub and several customer locations in a city.
   The locations of the hub and customers are represented as coordinates on a 2D plane.
                     * Delivery hub coordinates: (0,0)
                     * Customer locations: Customer 1: (3,4), Customer 2: (1,1), Customer 3: (5,2)
                a. Calculate Euclidean, Manhattan, Minkowski (p=3) and chebyshev distance

In [39]:
# Distance calculations for various metrics
initial = (0, 0)  # Define the initial point (origin)
final = [(3, 4), (1, 1), (5, 2)]  # List of final points (customers)

# Print header for distance calculations
print("\nDistance calculation: ") 

# Iterate over each final point to calculate distances
for i, fin in enumerate(final):
    # Calculate Euclidean distance
    euc = euclidean(initial, fin) 
    # Calculate Manhattan distance
    man = cityblock(initial, fin)
    # Calculate Minkowski distance with p=2
    mink = minkowski(initial, fin, 2)  
    # Calculate Chebyshev distance
    cheb = chebyshev(initial, fin) 

    # Print results for each customer
    print(f"\nCustomer{i+1}: ")  
    # Indicate which customer is being processed
    print(f"Euclidean: {euc}")  
    # Output Euclidean distance
    print(f"Manhattan: {man}")  
    # Output Manhattan distance
    print(f"Minkowski: {mink}")  
    # Output Minkowski distance
    print(f"Chebyshev: {cheb}")  
# Output Chebyshev distance

Distance calculation:

Customer1:
Euclidean: 5.0
Manhattan: 7
Minkowski: 5.0
Chebyshev: 4

Customer2:
Euclidean: 1.4142135623730951
Manhattan: 2
Minkowski: 1.4142135623730951
Chebyshev: 1

Customer3:
Euclidean: 5.385164807134504
Manhattan: 7
Minkowski: 5.385164807134504
Chebyshev: 5