1. Read the dataset

In [29]:
import pandas as pd
import numpy as np

auction = pd.read_csv("C:/Users/Arjun/06_JN/ipl auction stats__static.csv" )
auction.head()

,Unnamed: 0,SR. NO.,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS,RATING
0,0,1,Chennai Super King,29500000,8,25.0,NaN
1,1,2,Delhi Capitals,1000000,7,24.0,NaN
2,2,3,Gujrat Titans,1500000,8,23.0,NaN
3,3,4,Kolkata Knight Riders,4500000,8,25.0,NaN
4,4,5,Lucknow Super Gaints,0,7,28.0,NaN

2. Choose the "TOTAL PLAYERS" for applying normalization

In [31]:
auction["TOTAL PLAYERS"]

0      25.0
1      24.0
2      23.0
3      25.0
4      28.0
5    5000.0
6      25.0
7      24.0
8      22.0
9      23.0
Name: TOTAL PLAYERS, dtype: float64

3. Apply Min-Max Normalization

In [33]:
auction = pd.read_csv("C:/Users/Arjun/06_JN/ipl auction stats__static.csv")
max_ = max(auction["TOTAL PLAYERS"])
min_ = min(auction["TOTAL PLAYERS"])
#normalise the rating
for i in auction["TOTAL PLAYERS"]:
    x=(i - min_)/(max_ - min_)
    print(x)

0.0006026516673362796
0.0004017677782241864
0.0002008838891120932
0.0006026516673362796
0.0012053033346725592
1.0
0.0006026516673362796
0.0004017677782241864
0.0
0.0002008838891120932

4. Z-Score Normalization

In [35]:
mean_ = auction['TOTAL PLAYERS'].mean()
std_dev = auction['FUNDS REMAINING'].std()
for i in auction['TOTAL PLAYERS']:
    z_score = (i - mean_)/std_dev
    print(z_score)

-5.575272309549612e-05
-5.5864924188463516e-05
-5.59771252814309e-05
-5.575272309549612e-05
-5.5416119816593956e-05
0.0005024477144172695
-5.575272309549612e-05
-5.5864924188463516e-05
-5.6089326374398296e-05
-5.59771252814309e-05

5. Apply Decimal Scaling

In [37]:
import math
max_ = auction['TOTAL PLAYERS'].max()
j = math.ceil(math.log10(max_))
print(j)
for i in auction['TOTAL PLAYERS']:
    Decimal_Scaling = i/(10**j)
    print(Decimal_Scaling)

4
0.0025
0.0024
0.0023
0.0025
0.0028
0.5
0.0025
0.0024
0.0022
0.0023

6.1 introducing outlier

In [39]:
auction.loc[5,'TOTAL PLAYERS']= 5000.0
auction.to_csv("C:/Users/Arjun/06_JN/ipl auction stats__static.csv", 
index=False)
auction

,Unnamed: 0,SR. NO.,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS,RATING
0,0,1,Chennai Super King,29500000,8,25.0,NaN
1,1,2,Delhi Capitals,1000000,7,24.0,NaN
2,2,3,Gujrat Titans,1500000,8,23.0,NaN
3,3,4,Kolkata Knight Riders,4500000,8,25.0,NaN
4,4,5,Lucknow Super Gaints,0,7,28.0,NaN
5,5,6,Mumbai Indians,1000000,8,5000.0,5000.0
6,6,7,Punjab Kings,3450000,7,25.0,NaN
7,7,8,Rajasthan Royals,9500000,8,24.0,NaN
8,8,9,Royal Challengers Bangloro,1550000,8,22.0,NaN
9,9,10,Sunrisers Hydrabad,10000000,8,23.0,NaN

6.2 Introduce an outlier in your dataset and Apply Robust Scaling

In [41]:
median1 = auction['TOTAL PLAYERS'].median()
Q1 = auction['TOTAL PLAYERS'].quantile(0.25)
Q3 = auction['TOTAL PLAYERS'].quantile(0.75)
for i in auction['TOTAL PLAYERS']:
    robust_value = i - median1/(Q3-Q1)
    print(robust_value)

11.0
10.0
9.0
11.0
14.0
4986.0
11.0
10.0
8.0
9.0